<!--@todo: replace with company social media links-->
<div class="social-media">
  <a href="{{@blog.url}}/rss/" title="RSS Feed"><i class="fa fa-rss-square"></i></a>
  <a href="https://twitter.com/ggdsydney" title="Twitter"><i class="fa fa-twitter-square"></i></a>
  <a href="https://www.facebook.com/pages/Girl-Geek-Sydney/169579109738359" title="Facebook"><i class="fa fa-facebook-square"></i></a>
    <a href="http://www.linkedin.com/groups/Girl-Geek-Sydney-5152839?home=&gid=5152839&trk=anet_ug_hm" title="Linked In"><i class="fa fa-linkedin-square"></i></a>
</div> 